.page-bar .date-selector{
	float: left;
	margin:10px 0;
}

.page-bar .add-event-btn{
	float: right;
	margin: 8px 0;
}

.table_import_filters_container{
	list-style: none;
	padding: 0;
	margin: 0;
}
.table_import_filters_container li{
	display: inline-block;
	width: 19%;
	padding-right: 1%;
}
.table_import_filters_container li:nth-child(5), .table_import_filters_container li:nth-child(6) {
	width: 9%;
}
.table_import_filters_container li:nth-child(6) {
	padding-right: 0;
}
.table_import_filters_container li:nth-child(5) > button, .table_import_filters_container li:nth-child(6) > button {
	width: 100%;
	margin: 0 0 13px;
}

.import_modal_title{
	float: left;
}
.import_events_sys_date{
	float: right;
	margin-right: 20px;
}
.assoc_website {
    border-right:1px solid #eee;
}
.assoc_website:last-child {
    border-right: 0;
}

.itm-table {
    display: table;
    float: none;
    width: 100%;
}
.itm-table-cell {
    display: table-cell;
    float: none;
}

.assoc_website:nth-last-child(2) .form-group, .assoc_website:nth-last-child(1) .form-group{
	border-bottom: 0;
}

.add_event_manually {
	padding: 0;
	list-style: none;
}


.add_event_form .form-group{
	margin-right: 0;
	margin-left: 0;
}

.bar-buttons{
	float: right;
}
.bar-buttons button{
	margin: 8px 0;
}

.website_tr{
	background: #f6f6f6;
}
.pack_tr{
	background: #fcfcfc;
}
.inline-list li{
	display: inline-block;
}
.nostyle-list{
	list-style: none;
	padding: 0;
}
.subscription-entry td{
	background: #ffe5c7;
}

.autounit.leagues + div,
.multiselect.dropdown-toggle {
  width: 100%;
}
.itm-autounit-statistics .popover {
    max-width: 100%;
    width: 70%;
}
.itm-add-autounit-match {
    font-size: 24px;
    cursor: pointer;
}
.auto-unit tr.is-vip {
    color: white;
}

.distribution-event .popover{
	max-width: none;
} 
ul.schedule{
	padding:15px;
}
.action-group{
	margin-left: 15px;
}
.distribution .page-bar, .distribution .page-bar{
	width: calc(100% - 235px);
    top: 75px;
    border-radius: 0;
    position: fixed;
    z-index: 1;
}
.page-header-fixed .page-container{
	margin-top: 31px;
}
.page-content-white .page-title{
	margin-top: 45px;
}
.email-logs-website-caption td{
	font-weight: bold;
}
.distributions-table tr th, .distributions-table tr td{
	vertical-align: middle !important;
}
.distribution-site, .distribution-tip, .distribution-user{
	text-align: center;
}
.distribution-event-container > span{
	display: inline-block;
}
.distribution-event-container .dist-event-teams{
	width: 43%;
}
.distribution-event-container .dist-event-predictions{
	width: 22%;
}
.distribution-event-container .dist-event-status{
	text-align: center;
	border-radius: 3px;
	padding: 0 5px;
}
.distribution-event-container .dist-event-result{
	text-align: center;
}
.distribution-event-container .Win{
	background: #26C281;
	color: #ffffff;
}

.distribution-event-container .Loss{
	background: #E43A45;
	color: #ffffff;
}

.distribution-event-container .Draw{
	background: #E87E04;
	color: #ffffff;
}

.distribution-event-container .Postpone{
	background: #E87E04;
	color: #ffffff;
}
/******************************************************************************/
/*********  EVENT MODAL     ***************************************************/
/******************************************************************************/
#accordion a {
    text-decoration: none; 
}
.itm-block {
    display: block
}
.itm-none {
    display: none;
}
.itm-panel .panel-title {
    display: inline-block;
}
/******************************************************************************/
/*********  ADMIN POOL     ****************************************************/
/******************************************************************************/
.admin-pool .select2-selection__choice {
    width: 100% !important;
}
.admin-pool .select2.select2-container {
    float: left;
}
.admin-pool .select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    max-height: 200px;
    overflow-y: initial;
}
/******************************************************************************/
/*********  AUTO-UNIT STATISTICS     ******************************************/
/******************************************************************************/
.table-auto-unit-site-configuration td .config-label:hover {
    cursor: pointer;
    filter: brightness(80%);
}